In [1]:
import pandas as pd

In [3]:
headline_df = pd.read_json('Sarcasm_Headlines_Dataset.json', lines=True)

In [4]:
twts = "https://raw.githubusercontent.com/EducationalTestingService/sarcasm/master/twitter/sarcasm_detection_shared_task_twitter_training.jsonl"

In [6]:
import requests
s = requests.get(twts).content

In [10]:
s = s.decode()

In [11]:
twts_df = pd.read_json(s, lines=True)

In [12]:
twts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     5000 non-null   object
 1   response  5000 non-null   object
 2   context   5000 non-null   object
dtypes: object(3)
memory usage: 117.3+ KB

In [13]:
headline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26709 entries, 0 to 26708
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   article_link  26709 non-null  object
 1   headline      26709 non-null  object
 2   is_sarcastic  26709 non-null  int64
dtypes: int64(1), object(2)
memory usage: 626.1+ KB

In [16]:
headline_df['article_link'][0]

'https://www.huffingtonpost.com/entry/versace-black-code_us_5861fbefe4b0de3a08f600d5'

In [20]:
headline_df.drop(columns=['article_link'], inplace=True)

In [21]:
context_list = twts_df['context']

In [22]:
context_list = [" ".join(context) for context in context_list]

In [23]:
twts_df['concat_context'] = context_list

In [25]:
twts_df['response'] = twts_df['response'] + twts_df['concat_context']

In [26]:
twts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   label           5000 non-null   object
 1   response        5000 non-null   object
 2   context         5000 non-null   object
 3   concat_context  5000 non-null   object
dtypes: object(4)
memory usage: 156.4+ KB

In [27]:
twts_df.drop(columns=['context', 'concat_context'], inplace=True)

In [29]:
twts_df.rename(columns={'response':'headline', 'label':'is_sarcastic'}, inplace=True)

In [31]:
merged_df = pd.concat([twts_df, headline_df])

In [35]:
merged_df = merged_df.sample(frac=1)

In [37]:
merged_df['is_sarcastic'].replace({'SARCASM':1, 'NOT_SARCASM':0}, inplace=True)

In [38]:
merged_df = merged_df.sample(frac=1)

In [39]:
merged_df.head()

       is_sarcastic                                           headline
20062             0   what your brain actually does when you multitask
9968              0  'the daily show' puts trump supporters through...
3720              0  @USER people are walking around like zombies ,...
14183             0  women rewrite the constitution in jay-z's 'fam...
3731              1  unpublished twain autobiography rails against ...

In [40]:
merged_df.to_csv("mergedDataset.csv")